@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-openSans: "Open Sans", cursive;
  --font-poppins: 'Poppins', cursive;
  --font-ubuntu: "Ubuntu", cursive;
  --font-playBall: "Playball", cursive;
}

.poppins {
  font-family: var(--font-poppins);
}

.openSans {
  font-family: var(--font-openSans);
}

.ubuntu {
  font-family: var(--font-ubuntu);

}
.playBall {
  font-family: var(--font-playBall);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.indicate {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  position: relative;
  top: -100px;
  right: -45%;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  border-color: transparent;
  border-width: 2px;
  margin-left: 3px;


}

.indicate-dot {
  border-radius: 50%;
  padding: 2px;
  background: white;
}


.indicate.active {
  border-color: white;
  border-width: 2px;
  background: transparent;
}

.progress-text {
  font-size: small;
}

.progress-bar {
  transform: translateZ(0);
}
.progress-indicator {
  transform: translate3d(0, 0, 0);
}


.hidden-searchIcon {
  top: 30px;
  transition: top ease-out 0.3s;
  opacity: 0;
}

.hidden-searchIcon:hover{
  top : 0;
  opacity: 1;
}
.cusCarousel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.width29 {
  width : 29%;
}

.negativeTop {
  top : -6000px;
}
