@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.indicator {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border: 1px #ffffff solid;
  position: relative;
  top: -100px;
  right: -45%;
  border-radius: 50%;
  margin-left: 2px;


}

.indicator-dot {
  border-radius: 50%;
  padding: 3px;
  background: white;
}

.indicator.active {
  color: #fff;
  background: white;
}

.progress-text {
  font-size: small;
}

.progress-bar {
  transform: translateZ(0);
}
.progress-indicator {
  transform: translate3d(0, 0, 0);
}

.test :hover {
  filter: blur(4px);
}